/*RESET*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/*RESET*/


/*Wrapper start*/

.wrapper {

    width: 80%;
    margin: auto;
    background-color: brown;
}
/*Wrapper end*/

/*Header Start*/
  
.leaderboard_one {
    width: 100%;
    height: 100px;
    background-color: violet;
    display: inline-block;
}

.leaderboard_two {
    width: 100%;
    height: 500px;
    background-color: salmon;
    display: inline-block;
}

.leaderboard_one, .leaderboard_two {
    margin-top: 10px;
    margin-bottom: 5px;
}
/*Header End*/




